body {
  text-align: center;
  background-image: url("https://t4.ftcdn.net/jpg/04/37/33/75/360_F_437337508_qQlBLKCnTXrJno53R99naHsv8cUBtFvZ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  background-color: #3563b9;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

textarea {
  background-color: #becee8;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid #96a5c1;
  resize: none;
}

p, label, button {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
img {
   width: 50%;
   height: 50%;
   margin: 0 auto;
}
