body {
  text-align: center;
  background-image: url("https://i.pinimg.com/736x/b7/87/32/b787320a4743e7c5ce9c36028834b378.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  background-color: #3563b9;
  margin: 10px;
  padding: 30px;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

textarea {
  background-color: #becee8;
  border-radius: 4px;
  border: 2px solid #ccc;
}

p, label, button {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
